# Copyright (c) 2009-2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import /init.t8lte_product.rc

# modem logging (LGODM)
import /init.lge.modem_log.rc

#on early-fs
#    ffu_update

on init
    # LGE_CHANGE For USB Storage (USB OTG)
    mkdir /mnt/media_rw/USBstorage1 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBstorage2 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBstorage3 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBstorage4 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBstorage5 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBstorage6 0700 media_rw media_rw

    export EXTERNAL_ADD_USB_STORAGE1 /storage/USBstorage1
    export EXTERNAL_ADD_USB_STORAGE2 /storage/USBstorage2
    export EXTERNAL_ADD_USB_STORAGE3 /storage/USBstorage3
    export EXTERNAL_ADD_USB_STORAGE4 /storage/USBstorage4
    export EXTERNAL_ADD_USB_STORAGE5 /storage/USBstorage5
    export EXTERNAL_ADD_USB_STORAGE6 /storage/USBstorage6

    mkdir /storage/USBstorage1 0700 root root
    mkdir /storage/USBstorage2 0700 root root
    mkdir /storage/USBstorage3 0700 root root
    mkdir /storage/USBstorage4 0700 root root
    mkdir /storage/USBstorage5 0700 root root
    mkdir /storage/USBstorage6 0700 root root

on boot
    # lmk_fast_run disable
    write /sys/module/lowmemorykiller/parameters/lmk_fast_run 0
    # enable exfat feature
    insmod /system/lib/modules/exfatfs.ko
    #insmod /system/lib/modules/texfat.ko
    insmod /system/lib/modules/tntfs.ko

   chmod 664 /sys/devices/virtual/input/lge_touch/object_ctrl
   chown system system /sys/devices/virtual/input/lge_touch/object_ctrl

    lge_chcon_recursive /data/property u:object_r:property_data_file:s0
    lge_chcon_recursive /data/security u:object_r:security_file:s0
    start chcon_keystore

# LGE_CHANGE_S, changed owner for antibanding, 2015-04-01, changhwan.kang
	chown media media /sys/bus/i2c/drivers/hi258/1-0040/antibanding
        chmod 644 /sys/bus/i2c/drivers/hi258/1-0040/antibanding
# LGE_CHANGE_S, changed owner for antibanding, 2015-04-01, changhwan.kang

service atd /system/bin/atd /dev/ttyGS0 /dev/smd0
    socket atd stream 0660 system inet
    disabled

on property:ro.baseband="msm"
    start atd

service rctd /system/bin/rctd
	class late_start
	user root
	group root

# [Sensors][t8lte] patrickym.kim@lge.com 2014-11-27 cap sensor [START]
service capsensord /system/bin/capsensord
    class late_start
    user root
    group root net_raw
    disabled
    oneshot

on property:persist.service.cap_keeponoff=on
    start capsensord

#on property:persist.service.cap_keeponoff=off
#    stop capsensord
# [Sensors][t8lte] patrickym.kim@lge.com 2014-11-27 cap sensor [END]

service fuse_USBstorage1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/USBstorage1 /storage/USBstorage1
    class late_start
    disabled

service fuse_USBstorage2 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/USBstorage2 /storage/USBstorage2
    class late_start
    disabled

service fuse_USBstorage3 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/USBstorage3 /storage/USBstorage3
    class late_start
    disabled

service fuse_USBstorage4 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/USBstorage4 /storage/USBstorage4
    class late_start
    disabled

service fuse_USBstorage5 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/USBstorage5 /storage/USBstorage5
    class late_start
    disabled

service fuse_USBstorage6 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/USBstorage6 /storage/USBstorage6
    class late_start
    disabled

#Customize booting resources
service runtime_boot_res /system/vendor/bin/runtime_boot_res.sh
    disabled
    oneshot

on property:ro.build.sbp=1
    start runtime_boot_res

service dhcpcd_eth0 /system/bin/dhcpcd -aABDKL
    class late_start
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class late_start
    disabled


service chcon_keystore /system/bin/sh /system/etc/init.t8lte_chcon_keystore.sh
    disabled
    oneshot
    seclabel u:r:keystore:s0

on init
    setprop ro.ssbd.session /dev/block/platform/msm_sdcc.1/by-name/eksst
    setprop ro.ssbd.offset 0
